.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  border: 1px solid white;
  border-radius: 7px;
  text-align: center;
  background-color: rgb(65, 64, 64);
  padding-bottom: 10px;
}

h1,
h2,
h3 {
  margin: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

#time-left {
  font-size: 3rem;
}

.numberDisplay {
  min-width: 50px;
  color: greenyellow;
  font-size: x-large;
  margin: 15px;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
}

.Session,
.Break,
.clock {
  border: 1px solid gray;
  border-radius: 5px;
  width: 80%;
  margin: 10px 5px;
}

.Control {
  padding: 10px 0;
}

.chat {
  width: 80%;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: gray;
}

button {
  background-color: transparent;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(199, 199, 199);
}

#start_stop,
#reset {
  width: 100px;
  height: 50px;
}

.control-wrapper,
.Control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.work-color {
  color: rgb(205, 255, 140);
}

.break-color {
  color: rgb(255, 180, 180);
}

.goRed {
  color: red;
}
